body {
    font-family: "Oswald", sans-serif;
    color: white;
    background-color: #242f44;
}

header {
    margin-top: 5px;
    text-align: center;
}

h1 {
    font-size: 36px;
    padding: 15px;
    color: #8c6b48;
    background-color: white;
}

h2 {
    font-size: 24px;
    padding: 15px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 2.7;
    margin-left: 20px;
    padding: 15px;
    text-align: left;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

th {
    border: 2px solid #8c6b48;
}

table {
    margin: 20px auto;
    text-align: center;
}

td {
    width: 300px;
    border: 2px solid #8c6b48;
}

footer {
    position: fixed;
    z-index: 5;
    bottom: 5px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background-color: #242f44;
}

footer h3 {
    font-size: 14px;
    display: inline-block;
    background-color: #242f44;
}

.container {
    max-width: 940px;
    height: 800px;
    margin: 0 auto;
}

.left {
    width: 150px;
}
